<style>
	.item-box {
		display: flex;
		flex-direction: column;
		margin: 5px 10px;
		width: 200px;
		border-radius: 10px;
		border: 1px solid #d5d3d3;
		padding: 0 5px;
		margin-bottom: 10px;
		position: relative;
	}
	.item-box:hover {
		transform: scale(1.03);
	}
	.item-title {
		margin: 3px 0px;
		font-weight: 500;
	}
	.item-box .img1 {
		width: 200px;
		height: 200px;
	}
	.item-box .img2-box {
		width: 200px;
		height: 200px;
		left: 220px;
		top: 25px;
		position: absolute;
	}
	.item-box .img2 {
		width: 400px;
		height: 400px;
	}
	.item-box>.img-box {
		cursor: pointer;
	}
	.price-box {
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.price {
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		color: #F40;
	}
	.item-name {
		font-size: 15px;
		cursor: pointer;
	}
	.item-name:hover {
		color: #F40;
		text-decoration: underline;
	}
	.item-desc {
		font-size: 10px;
	}
</style>
<div class="item-box">
	<span class="item-title">{{item.typeName}}-{{item.itemTypeName}}</span>
	<div class="img-box">
		<a routerLink="/detail/{{item.id}}">
			<img class="img1" src="{{item.imgurl}}">
		</a>
	</div>
	<span class="price-box">
		<span class="price">￥{{item.price}}</span>
		<span>{{item.shopName}}</span>
	</span>
	<a routerLink="/detail/{{item.id}}"><span class="item-name">{{item.name}}</span></a>
	<span>{{item.desc}}</span>
	<span class="tem-desc">{{item.address}}</span>
</div>
