<style>
	.detail-box {
		width: 900px;
		margin-right: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-top: 100px;
	}
	.img-box {
		width: 300px;
		height: 300px;
		position: relative;
		cursor: zoom-out;
	}
	.img2-box {
		width: 900px;
		height: 900px;
		position: absolute;
		top: 0px;
		right: -910px;
		pointer-events: none;
		overflow: hidden;
		display: none;
	}
	.img1 {
		width: 300px;
		height: 300px;
	}
	.img2 {
		width: 900px;
		height: 900px;
		position: absolute;
	}
	.price {
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		color: #F40;
	}
	.mask {
		position: absolute;
		width: 100px;
		height: 100px;
		background-color: rgba(0, 0, 0, 0.1);
		top: 0px;
		left: 0px;
		cursor: zoom-out;
		pointer-events: none;
		display: none;
	}
	.mask2 {
		position: absolute;
		width: 300px;
		height: 300px;
		border: 1px solid grey;
		top: 0px;
		left: 0px;
	}
</style>
<div class="detail-box">
	<button (click)="goback()">返回</button>
	<h4>{{item.typeName}}-{{item.itemTypeName}}</h4>
	<div class="img-box">
		<div class="mask"></div>
		<img class="img1" src="{{item.imgurl}}">
		<div class="img2-box">
			<img class="img2" src="{{item.imgurl}}">
		</div>
	</div>
	<span class="price-box">
		<span class="price">￥{{item.price}}</span>
		  &nbsp;&nbsp;&nbsp;<span>{{item.shopName}}</span>
	</span>
	<h5>{{item.name}}</h5>
	<p>{{item.desc}}</p>
	<p>{{item.address}}</p>
</div>
