<style>
	.list-box {
		width: 1200px;
		margin: auto;
		padding-top: 80px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.item-box {
		display: flex;
		flex-direction: column;
		margin: 5px 10px;
		width: 200px;
		border-radius: 10px;
		border: 1px solid #d5d3d3;
		padding: 0 5px;
		margin-bottom: 10px;
		position: relative;
	}
	.item-box:hover {
		transform: scale(1.03);
	}
	.item-title {
		margin: 3px 0px;
		font-weight: 500;
	}
	.item-box .img1 {
		width: 200px;
		height: 200px;
	}
	.item-box .img2-box {
		width: 200px;
		height: 200px;
		left: 220px;
		top: 25px;
		position: absolute;
	}
	.item-box .img2 {
		width: 400px;
		height: 400px;
	}
	.item-box>.img-box {
		cursor: pointer;
	}
	.price-box {
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.price {
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		color: #F40;
	}
	.item-name {
		font-size: 15px;
		cursor: pointer;
	}
	.item-name:hover {
		color: #F40;
		text-decoration: underline;
	}
	.item-desc {
		font-size: 10px;
	}
</style>
<app-top-bar
	[categorys]="categorys"
	[selectProducts]="selectProducts"
	[selectCategory]="selectCategory"
	[selectProduct]="selectProduct"
	(newCategoryItemEvent)="onSelectCategory($event)"
	(newProductItemEvent)="onSelectProduct($event)"
	(newQuery)="onQuery()"
	></app-top-bar>
<div class="list-box">
	<app-product-item *ngFor="let item of datas" [item]="item"></app-product-item>
</div>
