<style>
	.top-bar-box {
		width: 100%;
		height: 80px;
		background-color: white;
		border-bottom-color: black;
		padding: 0px 16px 0px 17px;
		position: fixed;
		top: 0px;
		z-index: 100;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	}
	.back-box {
		float: left;
		width: 80px;
		height: 100%;
	}
	.select-box {
		float: left;
		height: 100%;
		padding-left: 30px;
		display: flex;
		flex-direction: row;
		vertical-align: center
		align-items: center;
	}
	ul {
		display: flex;
		margin: 0px;
		padding: 0px;
		flex-direction: row;
		vertical-align: center;
		align-items: center;
	}
	li {
		width: 120px;
		display: flex;
		flex-direction: row;
		margin-left: 30px;
		position: relative;
	}
	li>span, li>div>span {
		font-size: 18px;
		font-weight: 200;
		color: #000;
	}
	li>div {
		width: 70px;
		height: 25px;
		position: absolute;
		display: flex;
		flex-direction: column;
		vertical-align: center;
		align-items: left;
		left: 50px;
		overflow: hidden;
		cursor: pointer;
	}
	.arrow-down:hover div{
		height: auto;
	}

	.arrow-down:after {
		content: '';
		position: absolute;
		right: 6px;
		top: 9px;
		width: 0;   
    height: 0;  
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
	}
	.query-btn {
		width: 90px;
		font-size: 18px;
		font-weight: 200;
		color: #000;
		background-color: white;
		border-color: black;
		border-width: 1px;
		cursor: pointer;
		border-radius: 4px;
	}
	.query-btn:hover {
		background-color: black;
		color: white;
	}
	.query-btn:active {
		transform: scale(1.2);
	}
</style>
<header class="top-bar-box">
	<div class="back-box"></div>
	<div class="select-box">
		<ul>
			<li class="arrow-down">
				<span>类型</span>
				<div>
					<span *ngIf="selectCategory">{{selectCategory.typeName}}</span>
					<span *ngFor="let item of categorys" (click)="onChildSelectCategory(item)">{{item.typeName}}</span>
				</div>
			</li>
			<li class="arrow-down" *ngIf="selectProduct && selectProduct.itemTypeName">
				<span>产品</span>
				<div>
					<span *ngIf="selectProduct">{{selectProduct.itemTypeName}}</span>
					<span *ngFor="let item of selectProducts" (click)="onChildSelectProduct(item)">{{item.itemTypeName}}</span>
				</div>
			</li>
			<li>
				<button class="query-btn" (click)="onQuery()">查询</button>
			</li>
		</ul>
	</div>
</header>
